<div class="form-group">
  <hr>
  <div class="alert alert-danger convert-alert" role="alert">
  </div>

  <label for="comment">Input:</label>
  <textarea rows="10" class="form-control data-to-convert"></textarea>

  <hr>
  <label>Format:</label>
  <div>
    <input type="radio" class="cwl" name="format" value="cwl" checked="checked">
    <label for="cwl">CWL</label>
  </div>

  <div>
    <input type="radio" class="galaxy" name="format" value="galaxy">
    <label for="galaxy">Galaxy</label>
  </div>

  <button class="btn convert">Convert</button>

</div>
