<div class="workflow-help-section">
	  {{#if template.init  }}
	    {{> edit_docs/add_node }}

	  {{else if template.operation  }}
	    {{> edit_docs/operation_form }}

	  {{else if template.assoc_resources  }}
	    {{> edit_docs/assoc_resources }}

	  {{else if template.data  }}
	    {{> edit_docs/data_form }}

	  {{/if}}  
</div>