<nav class="workflow-toolbar">
    <!--<span>mode: <a href="#" class="edit-mode">edit</a> | <a href="#" class="view-mode">compact</a></span>-->
  <div class="row">
    <span class="data text-center" >
      <a href="javascript:void(0)" class="export">
        <i class="fa fas fa-download fa-2x"></i>
        <div class="h6">export</div>
        {{!-- <h6>export</h6> --}}
      </a>
    </span>
    <span class="data text-center">
      <a href="javascript:void(0)" class="import">
        <i class="fa fas fa-upload fa-2x"></i>
        <div class="h6">import</div>
        {{!-- <h6>import</h6> --}}
      </a>
    </span>

    {{!-- <h2 class="separator1"></h2> --}}
    <div class="h2 separator"></div>


    <span class="history text-center">
      <a href="javascript:void(0)" class="undo">
        <i class="fa fas fa-undo-alt fa-2x"></i>
        <div class="h6">undo</div>
        {{!-- <h6>undo</h6> --}}
      </a>
    </span>
    <span class="history text-center">
      <a href="javascript:void(0)" class="redo">
        <i class="fa fas fa-redo-alt fa-2x"></i>
        <div class="h6">redo</div>
        {{!-- <h6>redo</h6> --}}
      </a>
    </span>

    {{!-- <h2 class="separator"></h2> --}}
    <div class="h2 separator"></div>

    <span class="text-center">
      <a href="javascript:void(0)" class="edit">
        <i class="fa fas fa-edit fa-2x"></i>
        <div class="h6">edit</div>
        {{!-- <h6>edit</h6> --}}
      </a>
    </span>
    <span class="text-center">
      <a href="javascript:void(0)" class="view">
        <i class="fa fas fa-eye fa-2x"></i>
        <div class="h6">view</div>
        {{!-- <h6>view</h6> --}}
      </a>
    </span>

    <button class="auto-layout">auto layout</button>
  </div>

      <input style="display:none;" type="file" class="file" name="file" enctype="multipart/form-data" />
</nav>

<div class="workflow-diagram-container">

  <div class="workflow-diagram-content">
    <div class="cytoscape"></div>
  </div>

  <div class="workflow-diagram-sidebar"></div>
</div>
