<div class="h3 workflow-diagram-sidebar-title">
  <i class="{{classes}}">
  </i>
  {{ title }}
</div>
{{!-- <h3 class="workflow-diagram-sidebar-title">
  <i class="{{classes}}">
  </i>
  {{ title }}
</h3> --}}
<div class="workflow-diagram-sidebar-content">

  {{#if mode.edit}} <!-- Workflow.MODE.EDIT -->

    {{#if template.select_location}}
      {{> edit_mode/select_location }}

    {{else if template.operation}}
      {{> edit_mode/operation this }}

    {{else if template.data}}
      {{> edit_mode/data this }}

    {{else if template.multiple_selection}}
      {{> edit_mode/multiple_selection this }}

    {{else if template.wrapper}}
      {{> edit_mode/wrapper this }}

    {{else if template.edge}}
      {{> edit_mode/edge this }}

    {{else if template.assoc_resources}}
      {{> edit_mode/assoc_resources this }}

    {{else}}
      {{> edit_mode/workflow }}

    {{/if}}

  {{else if mode.view}} <!-- Workflow.MODE.VIEW -->

    {{#if template.operation}}
      {{> view_mode/operation this }}

    {{else if template.wrapper}}
      {{> view_mode/wrapper this }}

    {{else if template.data}}
      {{> view_mode/data this }}

    {{else}}
      {{> view_mode/workflow }}

    {{/if}}

  {{/if}}

</div>
