<p>
A data node represents a piece of computationally-understandable information. There are two types of ontology annotations used to describe data here.</p>
<ol>
<li>A single term from the Data branch of the EDAM Ontology. This describes what the category of data is.</li>
<li>One or more terms from the Format branch of the EDAM Ontology which describes how the data is structured or represented in a computer-file, blob, string, message or elsewhere.</li>
</ol>
<p>
A data node can be linked to example datasets, or databases where this type of data can be retrieved.
</p>