<p>Using the EDAM ontology improves the functionality of the Concept Map. It allows you to define categorically what a step is about, which allows the editor to automatically find relevant resources from registries with matching ontology annotations. It also helps people find your concept maps and makes them interoperable.</p>
<p>Cocept Maps should be categorised with branches from the EDAM ontology.</p>
<p>You can find a relevant term by:</p>
<ul>
<li><b>typing in the search box</b>. This looks for matches in the ontology terms, their synonyms, and definitions.</li>
<li><b>traverse the hierarchy</b>. Use the arrow keys to explore the ontology and find the most specific match.</li>
<li><b>reading information</b>. Find out whether the term is the correct one by clicking the <i class="fas fa-info-circle"></i> symbol and checking the definition matches that of your operation.</li>
</ul>
<p><em>Note:</em><br>
Sometimes you may not find the term you want to use in EDAM, in these cases we encourage you to look thoroughly (as it may be listed under a name you did not expect), and if there is still no suitable term, we encourage you to help EDAM improve by completing a form describing the term so that it may be included in the next version. You will be able to use your own term in the Concept Map immediately.
</p>