<p>
An operation node represents a function that processes a set of inputs and results in a set of outputs. </p>
<p>It has a category (which can be selected from the Operation branch of the EDAM ontology); a textual description; and associated tools, training and other relevant resources to help readers understand the what, why, and how of the operation.
</p>

