<p>
<em>Select Branch</em> <i class="fa fa-toolbox"></i> <br>
The select button allows you to change which branch is currently selected. The selected branch will affect where and what the ‘Add next node’ position does, and allow you to remove a node.

<em>Add Next Node </em> <i class="fa fa-toolbox"></i> <br>
Automatically places a node of the alternate type to that currently selected. If data is selected, this will add an operation node beneath it and vice versa.

<em>Remove Node</em> <i class="fa fa-toolbox"></i> <br>
<p>
This deletes the selected node and all the nodes within the selected branch.
</p>

<em>Select multiple nodes</em><br>
To select multiple nodes you can hold the ⌘/ctrl button and select multiple nodes. Once you have selected several nodes you can:
<ul>
<li>Drag’n’drop - Move them as a group around the page</li>
<li>Wrap nodes - Create a convenient or informative grouping of steps</li>
<li>Remove nodes - Remove all selected nodes</li>
</ul>

<i class="fa fa-toolbox"></i> <b>Shortcut Tools</b>
<p>
 All functions with <i class="fa fa-toolbox"></i> can be accessed via the Short-cuts menu. To access this simple long click on a node or the canvas.
</p>