// Styles to make choices.js look like EDAM selector

$choices-button-icon-path: "~choices.js/assets/icons";
//@import '~choices.js/assets/styles/scss/base';
@import '~choices.js/assets/styles/scss/choices';

.custom_choices {
  @extend .choices;
  position: relative;
  //width: 100%;
  font-size: 1em;
  line-height: 1;

  &::after {
    cursor: pointer;
    content: "";
    height: 0;
    width: 0;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    border-width: 5px;
    position: absolute;
    right: 11.5px;
    top: 50%;
    margin-top: -2.5px;
    //pointer-events: none;
  }
}

.custom_choices.is-open {
  &::after {
    border-color: transparent transparent #333 transparent;
    margin-top: -7.5px
  }
}



.custom_choices__inner {
  @extend .choices__inner;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-color: #d9d9d9 #ccc #b3b3b3;
  //cursor: text;
  background-color: #fff;
  color: #333;
  //height: 32px;
  width: 100%;
  min-height: 32px;
  font-size: inherit;
  padding: 3.75px 7.5px 0px 3.75px;
  //display: table;
}

.custom_choices__input {
  @extend .choices__input;
  background-color: transparent;
}

.custom_choices__list {
  @extend .choices__list;
}

.custom_choices__item {
  @extend .choices__item;
}
.custom_choices__list--dropdown .custom_choices__item {
  z-index: 10;
  padding: 0.3em 0.5em 0.3em;
}

.custom_is-highlighted {
  @extend .is-highlighted;
}

.custom_choices__list--dropdown .custom_is-highlighted.custom_choices__item--selectable {
  background-color: rgba(0, 126, 255, 0.16);
}

.custom_is-focused {

  .custom_choices__inner {
    box-shadow: 0 0 10px #9ecaed;
    border-color: #9ecaed;
  }
}

.choices__button {
  display: none;
}

.custom_choices__list--dropdown {
  @extend .choices__list--dropdown;
  z-index: 10
}

.custom_choices__item--selectable {
  @extend .choices__item--selectable;
}

.custom_choices__list--dropdown .custom_choices__item--selectable {
  padding-right: 10px;
}

.custom_choices__list--multiple {
  @extend .choices__list--multiple;
  //display: inline-block;
}

.custom_choices__list--multiple .custom_choices__item {
  padding: 0px 5px 0 0;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  line-height: 1.7;

  background-color: #ebf5ff;
  background-color: rgba(0, 126, 255, 0.08);
  border-radius: 2px;
  border: 1px solid #c2e0ff;
  border: 1px solid rgba(0, 126, 255, 0.24);
  color: #007eff;
  font-size: 12px;
  font-weight: normal;
}

.custom_choices__button {
  @extend .choices__button;
  float: left;
  cursor: pointer;
  border-right: 1px solid rgba(0, 126, 255, 0.24);
  padding: 1px 5px 3px;
  display: block;
  vertical-align: middle;
}

.custom_choices[data-type*="select-multiple"] .custom_choices__button {
  border-left: none;
  width: 0;
  margin-right: 0;
  margin-left: 0;
  border-radius: 0;
  background-image: none;
  background-size: 0;
  margin-right: 5px;
  opacity: 1;
  &::after {
    font-weight: normal;
    content: '×';
    width: 21px;
    height: 10px;
    font-size: 14px;
    display: block;
    color: #007eff;
    position: absolute;
    left: 0;
    top: 2px;
    text-indent: 0;
  }
}
.custom_choices[data-type*="select-multiple"] .custom_choices__button:hover {
  border-left: none;
  width: 0;
  border-radius: 0;
  background-image: none;
  background-color: transparent;
  background-size: 0;
  border-right: 1px solid rgba(0, 126, 255, 0.24);
  opacity: 1;
  &::after {
    color: #e85054;
  }
}

.custom_clickable {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}
