.cxtmenu > * {

}

.cxtmenu-content {
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.5;
  min-height: 1000px;
}

//.cxtmenu-item {
//  height: 240px !important;
//  margin-top: -120px !important;
//  width: 120px !important;
//  //padding: 30px;
//
//  &:hover {
//    color: white !important;
//  }
//}
//
//.cxtmenu-item:nth-of-type(1) {
//  //background-color: rgba(0, 255, 0, 0.5);
//  margin-left: -120px !important;
//  padding-left: 25px !important;
//  padding-right: 35px !important;
//}
//
//.cxtmenu-item:nth-of-type(2) {
//  //background-color: rgba(255, 0, 0, 0.5);
//  margin-left: 0 !important;
//  padding-left: 35px !important;
//  padding-right: 25px !important;
//}

.cxtmenu-disabled {

}
