@font-face {
  font-family: 'Font Awesome from CDN';
  font-style: normal;
  font-weight: 900;
  src: url('https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-solid-900.eot');
  src: url('https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-solid-900.eot?#iefix') format('embedded-opentype'),
  url('https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-solid-900.woff2') format('woff2'),
  url('https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-solid-900.woff') format('woff'),
  url('https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-solid-900.ttf') format('truetype'),
  url('https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-solid-900.svg#fontawesome') format('svg');
}


.workflow {
  all: revert !important;
  /*
    Embedding within pages inherits some commonly names assets (including bootstrap ones).
    all: revert; goes someway to removing them. However, other stylesheets may be loaded AFTER this.
  */
  @import "~@fortawesome/fontawesome-free/scss/fontawesome";

  .fa,
  .fas {
    font-family: 'Font Awesome from CDN';
    font-weight: 900;
  }

  @import '~reset-css';
  @import '~normalize.css';

  @import './split.scss';
  @import '~bootstrap/scss/bootstrap';
  @import './choices.scss';
  @import './menu.scss';

  @import './vendor/cytoscape.js-panzoom.scss';


  // Fonts
  .fa-minus {
    @extend %fa-icon;
    @extend .fas;

    &:before {
      content: fa-content($fa-var-minus);
    }
  }

  .fa-plus {
    @extend %fa-icon;
    @extend .fas;

    &:before {
      content: fa-content($fa-var-plus);
    }
  }

  .fa-expand {
    @extend %fa-icon;
    @extend .fas;

    &:before {
      content: fa-content($fa-var-expand);
    }
  }

  //

  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;

  // Bootstrap

  button {
    @extend .btn;
    @extend .btn-primary;

    font-size: 1em;
    padding: 0.375em 0.75em;
  }

  .form-control {
    font-size: 1em;
  }

  // Generic

  .h6{
    font-size: large;
  }

  .worfklow-help-content{
    padding: 10px;
    font-size: 13px;
  }
  .focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }

  .workflow-toolbar {
    background-color: #f8f9fa !important;
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    border-bottom: 0;

    span {
      margin-right: 20px;
      margin-left: 10px;
    }

    .separator {
      border-left: 1px solid #ccc;
      height: 50px;
    }

    button {
      margin-left: 10px;
    }

    .h6 {
      font-size: .67em;
    }

  }

  .workflow-diagram-container {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    min-width: 800px;
  }

  .workflow-diagram-sidebar {
    flex-shrink: 0;
    border-left: 1px solid #ccc;
    min-width: 400px;
    overflow: hidden;
    height: 500px;
    img {
      max-width: 100%;
    }
  }

  .workflow-diagram-content {
    flex-grow: 1;
    border-right: 1px solid #ccc;
    min-width: 400px;
  }

  .cytoscape {
    width: 100%;
    height: 100%;
  }


  .dataHtmlLabel {
    color: black;
    position: absolute;
    left: 20px;
    font-size: 9px;
  }
  .operationHtmlLabel {
    color: black;
    position: absolute;
    left: 20px;
    font-size: 9px;
  }

  // Sidebar

  .sidebar-tabs {
    flex-wrap: nowrap;
  }

  .workflow-diagram-sidebar-content{
    overflow: scroll;
    height: 450px;
  }

  .workflow-diagram-sidebar-title {
    padding: 10px;
    background-color: #F6F6F6;
    margin: 0px;
    font-size: 1.75em;

    .main {
      @include fa-icon;
      &:before {
        @extend .fas;
        content: fa-content($fa-var-sitemap);
      }
    }
  }

  .buttons-group {
    padding: 10px;
    text-align: center;
  }

  label.highlighted {
    &::before {
      content: '';
      display: block;
      min-height: 100%;
      position: absolute;
      width: 3px;
      background-color: #007eff;
      left: -10px;
    }
  }

  .sidebar-tabs {
    margin-bottom: 10px;
  }

  .assoc-resource-heading{
    display: flex;
  }

  .assoc-resource-heading-text{
    width: 80%;
  }
  .assoc-resource-title{
    margin-top: 15px;
    width: 80%;
    margin-bottom: 25px;
  }
  .assoc-resource-logo{
    width: 80px;
    height: auto;
  }

  .required-view{
    float:right;
    padding: 5px;
    border-radius: 15px;
    border: 2px solid #ff9292;
  }
  .optional-view{
    float:right;
    padding: 5px;
    border-radius: 15px;
    border: 2px dashed gray;
  }
  // edam select

  label.edam-wrap {
    display: block;
    position: relative;
  }

  .cy-data {
    color: green;
  }

  .edam-select {
    font-size: 14px;
    padding: 10px;
  }


  // forms

  .form-check-input {
    position: relative;
    top: -1px;
  }

  // assoc res

  .biotools-status {
    display: none;
  }

  .tess-status {
    display: none;
  }

  .fairsharing-status {
    display: none;
  }
  .assoc-resources-select {
    font-size: 14px;
    padding: 10px;
  }

  .double-hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 1px;
  }

  ._107PeYXyGxoNiSLg9IztvK .hK_xOuc2QI705fKFju4qw {
    padding-left: 0em !important;
    left: 0 !important;
    font-size: 12px !important;
  }

  .edam-label {
    display: block;
    position: relative;
  }

  label.edam-operation-wrap {
    display: block;
    position: relative;
  }

  .description-preview {
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    padding: 5px 25px;
    min-height: 50px;

    ul li{
      list-style: disc;
    }
    ol {
      list-style: decimal;
    }
    em {
      font-style: italic;
    }

    .description-preview-placeholder {
      color: grey;
    }
  }

  // Associated resources view
  .assoc_res_card {
    margin-bottom: 15px;
    a {
      border-bottom-style: dotted;
      border-bottom-width: 1px;
    }
    a:hover{
      text-decoration: underline;
      border-bottom: none;
    }

  }
  // Training card specific

  .content_provider{
    font-size: 12px;
    color: gray;
    font-style: italic;
  }

  //Data card specific

  .database_card{
    background-color: #e7e7e7;
  }


  //Tool card specific
  .node-view{
    font-size: small;
    min-height: 400px; //TODO - set to inherit-20px
    border: 2px solid darkblue;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    margin:5px;

    .h4 { 
      margin: 1.12em;
    }

    .h5 { 
      margin: 1.08em; 
      font-size: 25px;
    }
  }

  .terms{
    display: flex;
    flex-wrap: wrap;
  }

  .term{
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 25px;
    border: 2px solid #c5bfbf;
    width: 100%;
  }
  .format-term{
    padding: 15px;
    margin: 2px;
    border-radius: 25px;
    border: 2px solid teal;
  }  
  .term-heading{
    display: flex;
  }
  .term-name{
    font-size: 18px;
    width: 60%;
  }
  .term-link{
    float: right;
    width: 40%;
  }
  .term-synonym{
    font-size: 13px;
    font-style: italic;
  }
  .markdown-description{
    padding: 10px;
    margin-top: 10px;
  }

  .tool_card {
    background-color: #ccffff;
  }

  .tool-card-body{
    display: flex;
    .title {
      width: 70%;
    }
   .type {
      font-size: 30px;
      padding: 5px;
      width: 20%;
    }
  }

  .desc {
      font-size: 12px;
      padding: 10px;
  } 
  .collapsible-description{
    display: none;
    border: 1px dashed #ccc;
    padding: 10px;
  }  
  .more{
    color: #525252;
    padding: 10px 0px;
    font-style: italic;
  }

  .type{
    float: right;
  }
  .external-resource-button{
    white-space: normal;
  }
  .custom-input {
    margin-top: 5px;
    height: 28px;
  }


  // Sidebar Docs
 .workflow-help-section{
    overflow: hidden;
    height: auto;

    .workflow-help-bar{
        position: sticky;
        top: 0;
        padding-bottom: 10px;

        .workflow-help-title{
          background-color: #F6F6F6;
          padding: 6px;
          text-align: center;
          font-size: 24px;
        }
        .nav-item{
          width:auto;
        }
        .nav-links {
          background-color: white;
          margin-top: -8px;
          padding: 3px;
          font-size: 10px;

        }
      }
    .workflow-help-content{
      font-size: 10px;
    }
  }


.external-link {
  position: relative;
  a {
    position: absolute;
    i {
      font-size: 10px;
      position: relative;
      top: -28px;
    }
    right: 5px;
  }
}

  blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 10px;
    margin-right: 10px;
  }
}
