<div class="btn-group" role="group" aria-label="Next action">
    <button class="select-branch btn-secondary">Select branch</button>
    <button class="add-next-node">Add next node</button>
    <button class="remove-node btn-danger">Remove node</button>
</div>
