<div class="form-group">
    <hr class="double-hr">

    <div class="form-check">
        <input class="required form-check-input" type="checkbox" id="required">
        <label class="form-check-label" for="required">
            Required?
        </label>
    </div>

    <textarea class="form-control required-description" rows="3"
              placeholder="Requirements clarification"></textarea>
    <small class="form-text text-muted">Required node has solid arrows.</small>
</div>
