<hr>
<div class="input-group">
  <input class="form-control" placeholder="Tool name" type="text" value="{{label}}" disabled="disabled">
  <input class="form-control" placeholder="Tool URI" type="text" value="{{value}}">
</div>
<div class="external-link"><a href="{{value}}" target="_blank"><i class="fas fa-external-link-alt"></i></a></div>
<small class="form-text text-muted">Additional information</small>
<textarea class="form-control">{{description}}</textarea>
