<div class="assoc-resources-select">

    {{> _tabs active}}

    <div class="fetchers"></div>

    {{# if type.operation_node}}

        <label class="edam-label">Tools:
            <div class="alert alert-danger biotools-status" role="alert">
                <a href="https://bio.tools/api/tool?page=1">bio.tools API</a> is currently unavailable
            </div>
            <select class="choices" multiple="multiple"></select>
        </label>
        <hr class="double-hr">

      <ul class="added-tools"></ul>
    {{/if }}


    {{# if type.data_node}}

          <label class="edam-label">FAIRSharing:
            <div class="alert alert-danger fairsharing-status" role="alert">
              <a href="https://fairsharing.org">FAIRSharing API</a> is currently unavailable
            </div>
            <select class="fairsharing-choices" multiple="multiple"></select>
          </label>
          <hr class="double-hr">

    {{/if }}

  <div class="edam-label">TeSS resources:
    <div class="alert alert-danger tess-status" role="alert">
      <a href="https://tess.elixir-europe.org">TeSS API</a> is currently unavailable
    </div>
    <select class="tess-choices" multiple="multiple"></select>
  </div>


  <hr class="double-hr">

    <div class="notification"></div>

    <div class="form-group">
        <hr class="double-hr">
        <label class="edam-label">
            Description:
            <textarea class="form-control description" rows="3" placeholder=""></textarea>
            <small class="form-text text-muted">Supports Markdown, check preview below.</small>
        </label>
        <div class="description-preview">
            <span class="description-preview-placeholder">Preview...</span>
        </div>
    </div>

    <hr class="double-hr">

    {{> _actions }}


</div>

