
<div class="edam-select">

    {{> _tabs active}}

    <label class="edam-wrap">
        <div class="edam-data">
        </div>
    </label>

  {{> _custom }}

    <hr class="double-hr">

  <div class="form-group">
    <div class="edam-label">Formats:
      <div class="edam-formats"></div>
    </div>
  </div>

  {{> _required }}

    <hr class="double-hr">

  {{> _actions }}

</div>
