<div class="edam-select">

  {{> _tabs active}}

    <label class="edam-wrap">
        <div class="edam-operation">
        </div>
    </label>

  {{> _custom }}

  {{> _required }}

    <hr class="double-hr">

  {{> _actions }}

</div>


