<div class="buttons-group">
  <button class="add-operation-node">Add {{#if first}}first{{else}}new{{/if}} Operation node</button>
  <button class="add-data-node">Add {{#if first}}first{{else}}new{{/if}} Data node</button>
</div>
