<div class="edam-select">
  <div class="form-group">
    <input type="text" class="form-control wrap-label" placeholder="Label" aria-label="Label" value="{{ label }}">
  </div>

  <hr class="double-hr">

  <div>
    <button class="unwrap">Ungroup</button>
  </div>

  <hr>
</div>
