

<div class="workflow-help-bar">
  	{{> ./snippets/workflow-help-title }}
  
	<!--ul class="nav-links nav justify-content-center">
		<li class="nav-item">
		<button class="btn-link nav-link" data-link="intro">Concept Map</button> 
		</li>
		<li class="nav-item">
		<button class="btn-link nav-link" data-link="operations">Operations</button> 
		</li>
		<li class="nav-item">
		<button class="btn-link nav-link" data-link="data">Data</button> 
		</li>
		<li class="nav-item">
		<button class="btn-link nav-link" data-link="design">Design Guidance</button> 		
		</li>
	</ul-->
</div>

<div class="worfklow-help-content">
	<div class="h6" id='intro'>What is a Concept Map</div>
	<p>
		<ul>
			<li>A Concept Map represents a typical data analysis pipeline</li>
			<li>It is made up of alternate <b>data</b> & <b>operation</b> steps</li>
			<li>The aim is to <em>learn</em> about the steps that comprise a typical workflow; and be <em>informed</em> about the tools, training, and data available for each step.</li>
		</ul>
		<a href="#">View some examples</a>
	</p>
	<div class="h6" id='operations'>Operation Node</div>
	{{> ./snippets/operation.hbs }}

	<div class="h6" id='data'>Data Node</div>
	{{> ./snippets/data.hbs }}


	<div class="h6" id='design'>Design Principles</div>
	<br>
		<em>Keep it Simple</em>
		<p>
		The idea is to provide a broad and simple overview of a workflow. It is recommended not to include the non-functional implementation details such as data transformation steps, but to focus on the important functional steps of a typical workflow. </p>
		<p>
		Necessary, but non-functional, details can be described in the description text boxes.</p>
</div>