<div class="workflow-help-bar">
  	{{> ./snippets/workflow-help-title }}
  
	<!--ul class="nav-links nav justify-content-center">
		<li class="nav-item">
			<button class="btn-link nav-link" data-link="assoc-res">Associating Resources</button> 
		</li>
		<li class="nav-item">
			<button class="btn-link nav-link" data-link="tools-help">Bio.tools</button> 
		</li>
		<li class="nav-item">
			<button class="btn-link nav-link" data-link="tess-help">TeSS</button> 
		</li>
	</ul-->
</div>

<div class="worfklow-help-content">
	<div class="h6" id='assoc-res'>Associating Tools</div>
	<p>
		Todo
	</p>
	<div class="h6" id='tools-help'>Bio.tools</div>
		<p>Bio.tools (http://bio.tools) is a registry containing metadata about thousands of popular bioinformatics tools. Use the search interface to find the name of a tool that can be used to complete this operation. </p>
		<p>
		You may not find what you’re looking for in bio.tools. A common issue is that you may want need to use a function from within library but only the library is registered, or you may want to refer to a specific version of a tool. In such cases, please use the most similar/relevant tool available from bio.tools, and give these further details or instructions in the description box provided.
	</p>

	<div class="h6" id='tess-help'>TeSS</div>
	<p>
		Todo
	</p>
</div>