<div class="workflow-help-bar">
  	{{> ./snippets/workflow-help-title }}
  
	<!--ul class="nav-links nav justify-content-center">
		<li class="nav-item">
		<button class="btn-link nav-link" data-link="data-node">What is a Data node</button> 
		</li>
		<li class="nav-item">
		<button class="btn-link nav-link" data-link="edam">EDAM Annotations</button> 
		</li>
		<li class="nav-item">
		<button class="btn-link nav-link" data-link="required-help">Required field</button> 
		</li>
		<li class="nav-item">
		<button class="btn-link nav-link" data-link="connect">Connecting steps</button> 
		</li>				
		<li class="nav-item">
		<button class="btn-link nav-link" data-link="other">Other tools</button> 
		</li>
	</ul-->
</div>

<div class="worfklow-help-content">
	<div class="h6" id='data-node'>Data node</div>
	{{> ./snippets/data.hbs }}
	<div class="h6" id='edam'>EDAM Annotations</div>
	{{> ./snippets/edam_annotation.hbs }}
	<div class="h6" id='required-help'><em>Required</em> field</div>
	{{> ./snippets/required.hbs }}
	<div class="h6" id='connect'>Connecting steps</div>
	{{> ./snippets/connect_nodes.hbs }}
	<div class="h6" id='other'>Other tools</div>
	{{> ./snippets/tools.hbs }}        
</div>