<div class="form-check">
  <input class="custom form-check-input" type="checkbox" id="custom">
  <label class="form-check-label" for="custom">
    Custom?
  </label>
</div>
<input class="form-control custom-input" type="text">
