<div class="assoc_res_card">
	<a style="white-space: normal" target="_blank" href="https://fairsharing.org/{{this.value}}">
		<span class="h6">{{this.label}}</span>
		<i class="fa fa-external-link"></i>
	</a>
	<!--
	<div class="more" data-type="database">
		more about this database
	</div>
	<div class="collapsible-description" id="{{this.value}}" >
		{{# if this.data.content_provider}}
			<div class="content_provider">This resource was found in {{this.data.content_provider}}</div>
		{{/if}}
		<br>
		{{this.data.description}}
	</div>
	-->
</div>