
{{#each terms}}
{{type}}

    <div class="operation">
    <div class="operation-heading">
        <div class="operation-name" id='{{this.[0]}}'>{{this.[2]}}</div>
        <div class="ontology">
        <a href="http://identifiers.org/edam:operation_{{this.[1]}}"
            target="_blank">
        edam:{{data.type}}_{{this.[1]}}</a>
        </div>
    </div>
    {{#if this.[3]}}
        Synonyms:
        {{#each this.[3]}}
        <span class="operation-synonym">
            {{this}}{{#if @last}}{{else}},{{/if}}
        </span>
        {{/each}}
    {{/if}}
    {{#if this.[4]}}
        <hr/>
        {{#each this.[4]}}
        <div class="description">{{this}}</div>
        {{/each}}
    {{/if}}
    </div>
{{/each}}