<ul class="nav nav-tabs sidebar-tabs nav-fill">
  <li class="nav-item">
    <a class="nav-link add-edam-annotations {{#if edam}}active{{/if}}" href="javascript:void(0)">EDAM annotation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link add-assoc-resources {{#if assoc}}active{{/if}}" href="javascript:void(0)">Associated resources</a>
  </li>
</ul>
