<div class="assoc_res_card">
	<a style="white-space: normal" target="_blank" href="{{this.value}}">
		<span class="h6">{{this.label}}</span>
		{{# if this.data.version}}
			<span class="version">(version {{this.data.version}})</span>
		{{/if}}

	</a>
	{{# if this.description}}
		{{this.description}}
	{{/if}}
	<div class="more" data-type="tool">
		more about this tool
	</div>
	<div class="collapsible-description" id="{{this.value}}" >
		<div>
			{{this.data.description}}
		<div class="type">
			{{#if this.data.web_service}}
				<div class="tool-type-icon" data-toggle="tooltip" data-placement="top" title="Web service">
					<i class="fa fa-plug"></i>
				</div>
			{{/if}}
			{{#if this.data.web_application}}
				<div class="tool-type-icon" data-toggle="tooltip" data-placement="top" title="Web application">
					<i class="fa fa-columns"></i>
				</div>
			{{/if}}
			{{#if this.data.command-line_tool}}
				<div class="tool-type-icon" data-toggle="tooltip" data-placement="top" title="Command line tool">
					<i class="fa fa-terminal"></i>
				</div>
			{{/if}}
			{{#if this.data.library}}
				<div class="tool-type-icon" data-toggle="tooltip" data-placement="top" title="Library">
					<i class="fa fa-book-reader"></i>
				</div>
			{{/if}}
			{{#if this.data.workflow}}
				<div class="tool-type-icon" data-toggle="tooltip" data-placement="top" title="Workflow">
					<i class="fa fa-sitemap"></i>
				</div>
			{{/if}}
			{{#if this.data.web_api}}
				<div class="tool-type-icon" data-toggle="tooltip" data-placement="top" title="Web API">
					<i class="fa fa-plug"></i>
				</div>
			{{/if}}					
			{{#if this.data.database_portal}}
				<div class="tool-type-icon" data-toggle="tooltip" data-placement="top" title="Database Portal">
					<i class="fa fa-database"></i>
				</div>
			{{/if}}			
		</div>
			
		</div>
	</div>
</div>