<div class="assoc_res_card">
 
	<a style="white-space: normal" target="_blank" href="https://tess.elixir-europe.org/materials/{{this.value}}">
		<span class="h6">{{this.label}}</span>
		<i class="fa fa-external-link"></i>
	</a>
	

	
	<div class="more" data-type="training resource">
		more about this training resource
	</div>
	<div class="collapsible-description" id="{{this.value}}" >
		{{# if this.data.content_provider}}
			<div class="content_provider">This resource was found in {{this.data.content_provider}}</div>
		{{/if}}
		<br>
		{{this.data.description}}
	</div>
</div>