<div class='node-view'>
    {{#if data.required}}
      <div class="required-view">
        <input type="checkbox" disabled="disabled" checked="checked">&nbsp;Required?
        <div>{{ data.requiredText }}</div>
      </div>
    {{else}}
      <div class="optional-view">
        <input type="checkbox" disabled="disabled">&nbsp;Not Required
      </div>
    {{/if}}

  {{#if data.markdown_description}}
    {{!-- <h4>Description</h4> --}}
    <div class="markdown-description">
      {{{data.markdown_description }}}
    </div>
  {{/if}}

  {{#if databases}}
    <div class="assoc-resource-heading">
      <div class="h5 assoc-resource-title">Databases</div>
      {{!-- <h5 class="assoc-resource-title">Databases</h5> --}}
      <div class="assoc-resource-logo">
          <img src="https://fairsharing.org/static/img/home/svg/FAIRsharing-sdp.svg"/>
      </div>
    </div>
    {{#each databases}}
      {{> _databases_card this}}
    {{/each}}   
    <hr/>
  {{/if}}
    
  {{#if trainings}}
    <div class="assoc-resource-heading">
      <div class="h5 assoc-resource-title">Training Resources</div>
      {{!-- <h5 class="assoc-resource-title">Training Resources</h5> --}}
      <div class="assoc-resource-logo">
          <img src="https://tess.elixir-europe.org/assets/ELIXIR_TeSS_logo_normal-727bfde348524693ee8bee7a4f6c38f2d2633f6496c996f6fde297d6251ce8a8.png"/>
      </div>
    </div>
      {{#each trainings}}
        {{> _training_card this}}      
      {{/each}}
    <hr/>
  {{/if}}

  {{#if data.custom}}
    <div class="h5">Data Types</div>
    {{!-- <h4>Data Terms</h4> --}}
      <div class="terms">
        <div class="term">
          <div class="term-heading">
            <div class="term-name">{{ data.custom }}</div>
          </div>
        </div>
  {{else}}
    <hr/>
    <div class="h5">Data Types</div>
    {{!-- <h4>Data Terms</h4> --}}
      <div class="terms">
      {{#if terms.[0]}}
        {{#each terms}}
          <div class="term">
            <div class="term-heading">
              <div class="term-name" id='{{this.[0]}}'>{{this.[2]}}</div>
              <div class="ontology">
                <a href="http://identifiers.org/edam:data_{{this.[1]}}"
                  target="_blank">
                edam:data_{{this.[1]}}</a>
                </div>
            </div>
            {{#if this.[3]}}
              Synonyms:
              {{#each this.[3]}}
                <span class="term-synonym">
                  {{this}}{{#if @last}}{{else}},{{/if}}
                </span>
              {{/each}}
            {{/if}}
            {{#if this.[4]}}
              <hr/>
              {{#each this.[4]}}
                <div class="term-description">{{this}}</div>
              {{/each}}
            {{/if}}
          </div>
        {{/each}}
      {{else}}
          There are no Data terms annotated for this step
          <hr/>
    {{/if}}
  {{/if}}
  </div>
  
  {{#if data.format_terms}}
    <div class="h5">Data Formats</div>
    {{!-- <h4>Formats</h4> --}}
    <div class="terms">
      {{#each data.format_terms}}
        <div class="format-term">
          {{this.[2]}}
        </div>
      {{/each}}
    </div>
  {{/if}}
    
</div>

