<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workflows implementation study</title>

    <style>
      body {
        padding: 10px;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }

      main {
        flex: 1;
      }

      footer {
        background-color: lightgrey;
        font-family: monospace;
        text-align: center;
      }

    </style>
</head>
<body>

  <main>
    <div class="wrap">
      <div id="app"></div>
    </div>
  </main>

  <footer>revision: <a href="https://gl.cs.ut.ee/inkuzmin/workflows-js/commit/<%= htmlWebpackPlugin.options.version %>"><%= htmlWebpackPlugin.options.version %></a></footer>

  <script src="./dist/build.js"></script>

  <script>
    const DEBUG = true;

    DEBUG && console.time("Initialisation");

    let wf = new Workflow('#app', {
      title: "Workflow name",
      editable: true,
      // converter: 'converter URL',
    });

    DEBUG && console.timeEnd("Initialisation");
  </script>
</body>
</html>
